@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    ::-webkit-scrollbar {
        width: 6px; 
    }

    ::-webkit-scrollbar-track {
        background: transparent; 
    }

    ::-webkit-scrollbar-thumb {
        height: 80px;
        background: #888; 
        border-radius: 5px; 
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555; 
    }

    .side-bar:hover{
        overflow-y: scroll;
    }

    .switch{
        z-index: 100;
    }

    @media screen and (min-width: 305px) and (max-width: 320px) {
       .switch{
            width: 30px;
            height: 20px;
            top: 1.5rem;
            left: 15.3rem;
        }

        input:checked + .slider:before{
            transform: translateX(9px);
        }
    }

    @media screen and (min-width: 321px) and (max-width: 350px) {
       .switch{
            width: 30px;
            height: 20px;
            top: 1.5rem;
            left: 16.2rem;
        }

        input:checked + .slider:before{
            transform: translateX(9px);
        }
    }

    @media screen and (min-width: 351px) and (max-width: 385px) {
       .switch{
            width: 30px;
            height: 20px;
            top: 1.5rem;
            left: 17.7rem;
        }

        input:checked + .slider:before{
            transform: translateX(9px);
        }
    }

    @media screen and (min-width: 386px) and (max-width: 430px) {
       .switch{
            width: 30px;
            height: 20px;
            top: 1.5rem;
            left: 19.5rem;
        }

        input:checked + .slider:before{
            transform: translateX(9px);
        }
    }

    @media screen and (min-width: 600px) and (max-width: 767px){
       .switch{
            width: 40px;
            height: 20px;
            top: 1rem;
            left: 22rem;
        }

        input:checked + .slider:before{
            transform: translateX(18px);
        }
    }

    @media screen and (min-width: 768px) and (max-width: 900px) {
       .switch{
            width: 40px;
            height: 20px;
            top: 1rem;
            left: 36rem;
        }

        input:checked + .slider:before{
            transform: translateX(18px);
        }
    }

    @media screen and (min-width: 901px) and (max-width: 999px) {
       .switch{
            width: 40px;
            height: 20px;
            top: 1rem;
            left: 44rem;
        }

        input:checked + .slider:before{
            transform: translateX(18px);
        }
    }

    @media screen and (min-width: 1000px) and (max-width: 1130px) {
       .switch{
            width: 30px;
            height: 20px;
            top: 1rem;
            left: 51rem;
        }

        input:checked + .slider:before{
            transform: translateX(9px);
        }
    }

    @media screen and (min-width: 1131px) and (max-width: 1200px) {
       .switch{
            width: 35px;
            height: 20px;
            top: 1rem;
            left: 59rem;
        }

        input:checked + .slider:before{
            transform: translateX(14px);
        }
    }

    @media screen and (min-width: 1201px) and (max-width: 1439px) {
       .switch{
            width: 40px;
            height: 20px;
            top: 1rem;
            left: 63rem;
        }

        input:checked + .slider:before{
            transform: translateX(18px);
        }
    }

    @media screen and (min-width: 1440px) {
       .switch{
            width: 40px;
            height: 20px;
            top: 1rem;
            left: 77rem;
        }

        input:checked + .slider:before{
            transform: translateX(18px);
        }
    }

    .switch input {
        width: 0;
        height: 0;
        opacity: 0;
    }

    .slider{
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
    }

    .slider:before {
        content: "";
        position: absolute;
        cursor: pointer;
        height: 16px;
        width: 16px;
        left: 2px;
        top: 2px;
        background-color: white;
        border-radius: 50%;
        transition: 0.4s;
    }

   

    input:checked + .slider {
        background-color: #7b7b7b;
    }

    .round{
        border-radius: 30px;
    }

}